[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
#PIDFile=/opt/server/webserver/nginx/logs/nginx.pid
ExecStartPre=/opt/server/webserver/nginx/bin/nginx -t -c /opt/server/webserver/nginx/conf/nginx.conf
ExecStart=/opt/server/webserver/nginx/bin/nginx -c /opt/server/webserver/nginx/conf/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
